
<p id="notice"> <%= notice %></p>

<strong> Title: </strong>
<p>
<%= @lesson.title%>
<%=@lesson.duration%>
<%=@lesson.cost %>
<%=@lesson.description%>
<%=@lesson.image_url%>
</p>


 
 <%= link_to 'Delete', lesson_path(@lesson), method: :delete%>  |
<%= link_to 'Edit', edit_lesson_path %> |
<%= link_to 'Back',  lessons_path %>




